@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Patua+One&family=Rubik:ital,wght@1,500&display=swap');


.navbar-brand
{
    font-family: 'Kanit', sans-serif;
    margin-top: -6px;
}
.logo_height
{
    font-size: 35px;
    color:#46ABF1;
}
.logo_height1
{
    font-size: 27px;
    color:#46ABF1;
}

.navi{
    /* margin-top: 6px; */
    font-family: 'Patua One', cursive;
    color: white;
}

.navbar
{
    background-color: #00334d;
}
.mart
{
color: #C6F7F7;
}