<div class="card mb-4 shadow-sm">
    <!-- <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.retrievedImage"> -->
    <img class="bd-placeholder-img card-img-top p-2" width="100%" src="assets/image/tony.jpg">

    <div class="card-body">
      <p class="card-text">
          <!-- <strong>{{productItem.productPrice}}</strong> -->
          <strong>$1500</strong>
      </p>
      <!-- <p class="card-text">{{productItem.productCategory}}</p> -->
      <p class="card-text">some name</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="OnAddCart(productItem)">Add To Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" >View Details</button>
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="rateProduct(productItem,productItem.id)">Rate Product</button>
        </div>
      </div>
    </div>
</div>