<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.retrievedImage">
    
    <div class="card-body">
      <p class="card-text">
          <strong>{{productItem.productPrice}}</strong>
      </p>
      <p class="card-text">{{productItem.productCategory}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="OnAddCart(productItem)">Add To Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" >View Details</button>
        </div>
      </div>
    </div>
</div>