<div class="container">
    <form (ngSubmit)="process()">
      <div class="form group">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" class="form-control" [(ngModel)]="storeOwner.firstName">
      </div>
      <div class="form group">
          <label for="lname">Lastname</label>
        <input type="text" name="lname" class="form-control" [(ngModel)]="storeOwner.lastName">
      </div>
      <div class="form group">
          <label for="email">Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="storeOwner.email">
      </div>
      <div class="form group">
          <label for="telnum">Telephone Number</label>
        <input type="text" name="telnum" class="form-control" [(ngModel)]="storeOwner.telNumber">
      </div>
      <div class="form group">
          <label for="password">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="storeOwner.password">
      </div>
      <input type="submit" value="Signup" class="btn btn-success">
    </form>
  </div>