<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('assets/images/img1.jpg')">
            <h2 class="txt_img"><b>Selling Your Product on SmartBay is Best way to market your product</b></h2>
          <div class="carousel-caption d-none d-md-block slide1 font">
            <!-- <h2 class=""><b>Selling Your Product on SmartBay is Best way to market your product</b></h2> -->
            <!-- <p class="lead"><b>Buy Quality Products Here</b></p> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="">
    <div class="make">
        <p class="">What can you make</p>
    </div>

    <div class="list-group col-lg-6 ml-5" >
        <a href="#" class="list-group-item list-group-item-action font_li">Generate Your own Online Shop</a>
        <a href="#" class="list-group-item list-group-item-action font_li">Unique Shop Link</a>
        <a href="#" class="list-group-item list-group-item-action font_li">Catagarize Your Products</a>
        <a href="#" class="list-group-item list-group-item-action font_li">Dashboard Maintanance</a>
        <a href="#" class="list-group-item list-group-item-action font_li">Advertise Product</a>
      </div>
  </div>

<br>
  <div class="ml-5">
      <div>
          <p class="help">How Will We Help</p>
      </div>
      <div class="row">
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/store_img/img1.jpg " height="150px" alt="Card image cap">
                <div class="card-body">
                    <p><b>Create Your Shop</b></p>
                  <p class="card-text mb-4">Register as a Seller and create your shop.

                  </p>
                  
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/store_img/img2.jpg" height="150px" alt="Card image cap">
                <div class="card-body">
                    <p><b>Add Products to Sell</b></p>
                  <p class="card-text">Add your products to your Online Shop with their pricing, images and details.</p>
                 
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/store_img/img3.jpg" height="150px"  alt="Card image cap">
                <div class="card-body">
                    <p><b>Get Orders</b></p>
                  <p class="card-text">Receive Email Notifications for new Orders & manage all orders in dashboard.</p>
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/store_img/img4.jpg" height="150px" alt="Card image cap">
                <div class="card-body">
                    <p><b>Advertise Products</b></p>
                  <p class="card-text">We Advertise Your Quality Products According Your product Rating.</p>
                  
                </div>
              </div>
          </div>
      </div>
  </div>
  <br>

  
  