<div>
  <form class="form-signin">
<img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

<h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>

<b>Username</b>
<input type="text" id="inputUsername" name="inputUsername" class="form-control" [(ngModel)]="customer.username" required autofocus>

<b>Email</b>
<input type="email" id="inputEmail" name="inputEmail" class="form-control" [(ngModel)]="customer.email" required autofocus>

<b>Password</b>
<input type="password" id="inputPassword" name="inputPassword" class="form-control" [(ngModel)]="customer.password" required autofocus>

<b>Address</b>
<input type="text" id="inputAddress" name="inputAddress" class="form-control" [(ngModel)]="customer.address" required autofocus>

<b>Telephone Number</b>
<input type="text" id="inputTelno" name="inputTelno" class="form-control" [(ngModel)]="customer.telephoneNumber" required autofocus>

<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="button" (click)="addNewCustomer()">Signup</button>

</form>
</div>