.py-5{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-simple-gradient-e-commerce-web-page-image_20835.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}