.bgg{
    background-color: rgb(173, 228, 176);
 color: white;
}
.order_bgg
{
    background-color: rgb(240, 191, 87);
    color: white;
}
.revenue_bg
{
    background-color: rgb(216, 114, 114);
    color: white;
}
.product_bgg
{
    background-color: rgb(120, 120, 240);
    color: white;
}
.shop_bg_img
{
    background-color: rgb(151, 187, 96);
    color: white;
}
.seller_bg
{
    background-color: rgb(118, 186, 190);
    color: white;
}