<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-info"><b><h5> Sales</h5></b></a>
        </li>
      </ul>
    </div>
  </nav>
<div class="dashboard"> 
    <div class="list-dash">
        <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="card card-customer border border-success bgg" >
                    <div class="card-body">
                        <p style="text-align:left;" class="text-white">
                            Customers
                            <span style="float:right;">
                                <i class="fas fa-user-friends"></i>

                            </span>
                        </p>
                        <br>
                      <p><span>Number of customers</span> - 34553</p>
                      <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                     </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-order border border-warning order_bgg" >
                    <div class="card-body">
                        <p style="text-align:left;" class="text-white">
                            Orders
                            <span style="float:right;">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                        </p>
                        <br>
                      <p><span>Number od orders</span> - 5485</p>
                      <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-revnu" >
                    <div class="card-body border border-danger revenue_bg">
                        <p style="text-align:left;" class="text-white">
                            Revenu
                            <span style="float:right;">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <br>
                            <br>
                        </p>
                      <p>100000</p>
                      <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                     </div>
                  </div>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card-customer" >
                        <div class="card-body border border-primary product_bgg">
                            <p style="text-align:left;" class="text-white">
                                Products
                                <span style="float:right;">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
    
                                </span>
                                <br><br>
                            </p>
                          <p><span>Number od products</span> - 34553</p>
                          <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                         </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card-customer border border-success shop_bg_img" >
                        <div class="card-body">
                            <p style="text-align:left;" class="text-white">
                                Shops
                                <span style="float:right;">
                                    <i class="fa fa-shopping-bag"></i>
                                </span>
                                <br><br>
                            </p>
                          <p><span>Numbern of shops</span> - 34553</p>
                          <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                         </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card-customer" >
                        <div class="card-body border border-primary seller_bg">
                            <p style="text-align:left;" class="text-white">
                                Sellers
                                <span style="float:right;">
                                    <i class="fa fa-users"></i>
    
                                </span>
                                <br><br>
                            </p>
                          <p><span>Number of sellers</span> - 34553</p>
                          <p><i class="fas fa-arrow-up"></i> 20.4% Since last month</p>
                         </div>
                      </div>
                  </div>
            </div>
          
          </div>
    </div>



    <!-- <div class="tables">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div> -->
</div>