<!-- <h1>Rate Product</h1>

<div class="row mt-5">
  
    
    <div class="card text-center">
      <div class="card-body">
       <img class="bd-placeholder-img card-img-top p-2" width="100%" height="250px" [src]="product.retrievedImage">  
         
       <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">{{product.productPrice}}</p>
        
      </div>
      <div class="card-footer text-muted">
        {{product.productCategory}}
      </div> 
     
    </div>
  
</div>

<form>
  
  
  <label for="rating">Product Rating</label>
  <input type="text" class="form-control" id="rating" placeholder="Product Rating" name="rating" [(ngModel)]="rating.rating">


   
  <button type="button" class="btn btn-success" (click)="saveProductRating()">Rate</button>
</form> -->



<div class="FullMain ">

  <!-- <h3 class="text-center rate mb-5">Product Rate</h3> -->

<div class="">
  
  
      <!-- <img class="rounded float-right" style="width: 100%; height: 400px;" [src]="product.retrievedImage"> -->
      <!-- <img class="rounded float-right" style="width: 300px; height: 350px;" src="assets/image/tony.jpg">  -->
  
  
 





  <div class="row"> 
    <div class="col-lg-6 col-md-6">
      <img class="rounded float-right" style="width: 200px; height: 200px;" src="assets/image/tony.jpg"> 
    </div>
    <div class="col-lg-6  col-md-6">
        <div class="mt-5">

          <div class="row">
            <div class="col-md-6 text-left head">Product</div>
            <div class="col-md-6 ">
              <p class="cata ">
                <!-- {{product.productName}} -->
                
                </p>
            </div>
          </div>


          

          <div class="row mb-2">
            <div class="col-md-6 text-left head">Price</div>
            <div class="col-md-6">
              <p class="card-text cata">
                <!-- $ {{product.productPrice}} -->
              
               </p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 text-left head">Category</div>
            <div class="col-md-6">
              <p class="card-text cata ">
                <!-- {{product.productCategory}}  -->
              </p>
            </div>
          </div>

        </div>
    </div>
  </div>


 
    <div class="mt-5 mb-5">
      <form>


        <label for="rating " class="done">Product Rating</label>
        <input type="text"  
        class="form-control" 
        id="rating" 
        placeholder="Product Rating" 
        name="rating" [(ngModel)]="rating.rating">

        <button type="button" class="btn btn-success mt-2" 
        (click)="saveProductRating()">Rate</button>
      </form>
    </div>
  





</div>


</div>