
  <br><br>  
      
<div class="row">  
    <div class="form-group col-md-offset-4 col-md-4">   
        
            <table>  
                <tr>  
                    <td> <input type="text"  placeholder="Enter name" class="form-control" [(ngModel)]="searchTerm"> </td>  
                    <td><button class="btn btn-primary hidden-xs" (click)="Search()">Search</button></td>  
                </tr>  
            </table>  
      
    </div>  
</div>  
  
<br><br>
  
  <table class="table table-hover table-dark">
    <thead>
        <tr >  
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
        </tr> 
    </thead>
    <tbody>
        <ng-container *ngFor="let customer of customers">   
          <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>        
            <td><button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button></td>
          </tr>
        </ng-container>
    </tbody>
  </table>

  
    